// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-group .form-control {
  width: 100%
}

img {
  max-width: 100%;
  display:block;
  height: auto !important;
}

html body {
  background-color: #E6E6E6;
}
